body {
  margin: 0;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  color: MediumAquamarine;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  width: 100%;
  background-color: white;
}

#logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

#logo span {
  padding-left: 10px;
  display: inline-block;
}

header nav {
  padding-right: 30px;
}

nav span {
  display: inline-block;
  padding: 10px;
}

main {
  display: flex;
  justify-content: space-between;
  padding-top: 116px;
  width: 1232px;
  margin: 0 auto 78px auto;
}

h2 {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.mainstory {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.mainstory span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../photos/img-story-main.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;
  padding: 0 20px;
}

.stories {
  display: flex;
}

.story {
  display: flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
}

.column.small {
  display: flex;
  width: 240px;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}

.news-bites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites .bite {
  display: block;
  width: 200px;
  background-color: WhiteSmoke;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: left;
  font-weight: normal;
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.cat.photo-content {
  background-image: url("../photos/img-story-1.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 300px;
  margin-top: 15px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.earth.photo-content {
  background-image: url("../photos/img-story-2.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 300px;
  margin-top: 15px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.camera.photo-content {
  background-image: url("../photos/img-story-3.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 300px;
  margin-top: 15px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  margin: auto;
}

footer .wordmark {
  color: white;
  font-weight: bold;
  font-family: Verdana;
  font-size: 14px;
  display: inline-block;
  border-right: 2px solid white;
  padding-right: 30px;
  margin: auto;
}

footer nav {
  display: inline-block;
  padding-left: 30px;
}
