header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  color: MediumAquamarine;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  width: 100%;
}

#logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

#logo span {
  padding-left: 10px;
  display: inline-block;
}

nav {
  padding-right: 30px;
}

nav span {
  display: inline-block;
  padding: 10px;
}

main {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.column.large {
  width: 630px;
}

.mainstory {
  display: flex;
  flex-direction: column;
}

.mainstory span {
  background-image: url("../photos/img-story-main.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;
  width: 630px;
}

.stories {
  display: flex;
}

.story {
  display: flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  align-items: flex-start;
}

.news-bites {

}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.cat.photo-content {
  background-image: url("../photos/img-story-1.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 300px;
}

.earth.photo-content {
  background-image: url("../photos/img-story-2.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 300px;
}

.camera.photo-content {
  background-image: url("../photos/img-story-3.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 300px;
}
